section.about-page.tariffs
  .tariffs__wrapper
    h2.title О КОМПАНИИ
    .title__line
      i
    .about-page__content
      p Транспортная компания по перевозке пассажиров «автобусград» уже много лет на рынке имеет огромный опыт. За время работы нам удалось собрать большой автопарк, который включает современные автобусы любых классов, от бюджетных моделей, до двухэтажных автбусов класса «люкс».
      p В сфере перевозок пассажиров, компания «автобусград» давно зарекомендовала себя как надежный, а главное ответственный партнёр. На нас можно положиться при организации транспортного мероприятия любой сложности.
      span.about-page__title Наши преимущества:
      ul
        li Мы более 5 лет на рынке
        li Комфортабельные, новые автомобили ведущих марок
        li Наши цены начинаются от 350 рублей в час
        li Нашими услугами воспользовались более 10 000 пассажиров
        li Имеем лицензии на право пассажирских перевозок
        li Все наши пассажиры застрахованы
        li Сопровождаем автобусы инспекцией ГИБДД 
        li Безлимитный Wi-Fi во всех автобусах и микроавтобусах
      p Мы регулярно обновляем автобусный парк — весь транспорт 2008-2016 годов выпуска и только импортного производства: корейского, китайского, европейского. Для технического обслуживания и ремонта автобусов на предприятии создана мощная ремонтная база автобусов с квалифицированнами специалистами, имеется собственная мойка автобусов и большегрузного транспорта. Любой из автобусов в автопаке может немедленно отправиться в рейс — все автобусы находятся, так сказать, в состоянии постоянной боевой готовности, чтобы можно быо выполнить любые даже очень срочные заказы.
      p Компания ООО «РесБизнесАвто» производит автобусные пассажирские перевозки по различным направлениям. Вы можете выбрать проведение экскурсии по городам нашей Родины. Наши сотрудники отлично знакомы с особенностями такой работы и тщательно изучили маршруты по таким городам, как Кострома, Суздаль, Владимир, Казань, Углич, Великий Новгород и многие другие.
      p Мы с удовольствием отправимся вместе с вами в религиозное путешествие по святым местам и храмам, благодаря чему вы ознакомитесь с паломническими маршрутами, познакомитесь с историей православия и мировыми религиями.
      p Компания ООО «РесБизнесАвто» предоставит вам свой транспорт для осуществления деловых поездок, доставки сотрудников предприятий, проведения корпоративных и массовых торжеств, экскурсий, школьных программ и индивидуальных маршрутов.
      p Сделав выбор в пользу услуг ООО «РесБизнесАвто», вы выбираете абсолютную безопасность, высокое качество и непревзойденное настроение!