section.page__banner.bus__banner
  .wrapper.page__banner_wrapper
    .page__banner_text
      h1.page__banner_title АРЕНДА МИКРОАВТОБУСОВ
        b С ВОДИТЕЛЕМ В Йошкар-Оле 
        span от 350 руб./час.
      ul.page__banner_list
        li.page__banner_punkt — Трансфер в аэропорт и на вокзал
        li.page__banner_punkt — Деловые и туристические поездки
        li.page__banner_punkt — Перевозка детей с возможностю сопровождения ГИБДД
        li.page__banner_punkt — Перевозка гостей на свадьбах, праздниках и корпоративах
  .page__banner_panel
    .wrapper.page__banner_flex
      .page__banner_item
        .page__banner_item-img
          img(src="img/max-time.png", alt="")
        span Оформление
          br
          | занимает менее
          br
          | 2 минут
      .page__banner_item
        .page__banner_item-img
          img(src="img/remont.png", alt="")
        span Предоставляем 
          br
          | 100% исправные
          br
          | автомобили
      .page__banner_item
        .page__banner_item-img
          img(src="img/chist.png", alt="")
        span Чистим авто 
          br
          | перед каждой
          br
          | поездкой
      .page__banner_item
        .page__banner_item-img
          img(src="img/mresult.png", alt="")
        span Возврат денег
          br
          | при сокращении 
          br
          | срока аренды
      .page__banner_item
        .page__banner_item-img
          img(src="img/nal.png", alt="")
        span Наличная и 
          br
          | безналичная 
          br
          | форма оплаты




section.get-price
  .get-price__wrapper
    h2.title.get-price__title ДЛЯ РАСЧЁТА СТОИМОСТИ ПОЕЗДКИ 
      b ОСТАВЬТЕ ВАШИ КОНТАКТЫ
    .title__line
      i
    form.get-price__form(action="")
      .get-price__form_flex
        label.get-price__form_label
          span Как Вас зовут?
          input.get-price__form_input(type="text" placeholder="Введите имя")
        label.get-price__form_label
          span Контактный телефон*
          input.get-price__form_input(type="text" placeholder="Введите телефон" required)
        input.get-price__form_submit(type="submit" value="Получить расчет")
      span.get-price__form_text ИЛИ ПОЗВОНИТЕ НАМ: 
        a(href="tel:8 (8362) 42-28-90") 8 (8362) 42-28-90
      label.popup__form_check.get-price__form_check
        input.popup__form_checkbox(type="checkbox" checked)
        span.popup__form_check--custom
        span.popup__form_check--text Я согласен с 
          a(href="") обработкой персональных данных
