.map.contacts__map#map

.contacts__wrapper
  .contacts__block
    .contacts__block--container
      span.contacts__block_title Контактная информация:
      .contacts__block_line.contacts__block_line--red
        span.contacts__block_subtitle Телефон:
        a.contacts__block_text(href="") 8 (8362) 42-28-90
      .contacts__block_line
        span.contacts__block_subtitle Email:
        a.contacts__block_text(href="") info@avtobaza12.ru
      .contacts__block_line.contacts__block_line--red
        span.contacts__block_subtitle Режим работы:
        span.contacts__block_text Пн — Пт: с 08.00 до 17.00.
      .contacts__block_line
        span.contacts__block_subtitle Адрес:
        span.contacts__block_text ул. Панфилова, д. 35, 2 этаж.
      .contacts__block_btn.js-popup--open Заказать звонок


