.popup
  .popup__bg
  .popup__form--container
    .popup__close
    form.popup__form(action="")



footer.footer
  .wrapper.footer__wrapper
    a.footer__weblitex(href="") Разработка и продвижение
      span W E B L I T E X . R U
    nav.footer__menu
      a.footer__menu_item(href="") ГЛАВНАЯ
      a.footer__menu_item(href="") О КОМПАНИИ
      a.footer__menu_item(href="") АКЦИИ
      a.footer__menu_item(href="") ВАКАНСИИ 
      a.footer__menu_item(href="") КОНТАКТЫ
    .footer__contacts.header__contacts
      a.header__phone(href="tel:8 (8362) 42-28-90") 8 (8362) 42-28-90
      span.header__time Пн — Пт: с 08.00 до 17.00