.popup
  .popup__bg
  .popup__form--container
    .popup__close
    form.popup__form(action="")
      span.popup__form_title Оставьте заявку!
      span.popup__form_subtitle И мы свяжемся с Вами в течении 15 минут
      .popup__form_inputs
        label.popup__form_label
          span Как Вас зовут?
          input.popup__form_input(type="text" placeholder="Введите имя")
        label.popup__form_label
          span Контактный телефон*
          input.popup__form_input(type="tel" placeholder="Введите телефон")
        input.popup__form_submit(type="submit" value="Заказать звонок")
      label.popup__form_check
        input.popup__form_checkbox(type="checkbox" checked)
        span.popup__form_check--custom
        span.popup__form_check--text Я согласен с 
          a(href="") обработкой персональных данных



footer.footer
  .wrapper.footer__wrapper
    a.footer__weblitex(href="") Разработка и продвижение
      span W E B L I T E X . R U
    nav.footer__menu
      a.footer__menu_item(href="") ГЛАВНАЯ
      a.footer__menu_item(href="") О КОМПАНИИ
      a.footer__menu_item(href="") АКЦИИ
      a.footer__menu_item(href="") ВАКАНСИИ 
      a.footer__menu_item(href="") КОНТАКТЫ
    .footer__contacts.header__contacts
      a.header__phone(href="tel:8 (8362) 42-28-90") 8 (8362) 42-28-90
      span.header__time Пн — Пт: с 08.00 до 17.00