section.cars.wrapper
  h2.title ПОПУЛЯРНЫЙ 
    b ТРАНСПОРТ 
    | НАШЕГО АВТОПАРКА
  .title__line
    i
  span.subtitle Краткосрочная аренда автомобилей для любых целей 
    b от 5 до посадочных 20 мест.
  .cars__list
    .cars__item--container
      .cars__item
        span.cars__item_title Волга
        .cars__item_img
          img(src="img/auto/volga.jpg", alt="")
        .cars__item_table
          .cars__item_line
            span.cars__item_line-title.cars__item_line-title1 Стоимость аренды
            span.cars__item_line-dots
            span.cars__item_line-value от 280 руб./час
          .cars__item_line
            span.cars__item_line-title.cars__item_line-title2 Количество мест
            span.cars__item_line-dots
            span.cars__item_line-value 5
          .cars__item_line
            span.cars__item_line-title.cars__item_line-title3 Минимальное время заказа
            span.cars__item_line-dots
            span.cars__item_line-value 3 часа
        a.cars__item_btn(href="") Заказать машину