header.header
  .header-top
    .wrapper.header__wrapper
      a.header__logo(href="")
        img.header__logo_img(src="img/logo.png", alt="АВТОБАЗА ПРАВИТЕЛЬСТВА")
        span.header__logo_text
          span.header__logo_title АВТОБАЗА ПРАВИТЕЛЬСТВА
          span.header__logo_subtitle Пассажирские перевозки 
          span.header__logo_subtitle.header__logo_subtitle--opacity / Ремонт авто

      span.header__text Делаем поездки комфортными 
        br
        | независимо от маршрута
        br
        | и расстояния!
      .header__contacts
        a.header__phone(href="tel:8 (8362) 42-28-90") 8 (8362) 42-28-90
        span.header__time Пн — Пт: с 08.00 до 17.00
      .header__world Перевезли более
        br
        | 64 041 человек
      .butter
        span
        span
        span

  .header__menu--container
    span.menu__close
    ul.header__menu
      li.header__menu_item
        a(href="") Главная
      li.header__menu_item
        a(href="") О компании
      li.header__menu_item
        a(href="") Услуги
        span.header__menu_arrow ▼
        .header__submenu
          a.header__submenu_item(href="") Аренда микроавтобусов
          a.header__submenu_item(href="") Аренда легковых авто
          a.header__submenu_item(href="") Ремонт автомобилей
      li.header__menu_item
        a(href="") Автомобили
      li.header__menu_item
        a(href="") Тарифы
      li.header__menu_item
        a(href="") Вакансии
      li.header__menu_item
        a(href="") Контакты