//- section.page__banner.remont__banner
//-   .wrapper.page__banner_wrapper
//-     .page__banner_text
//-       h1.page__banner_title Выполняем
//-         b Ремонт автомобилей
//-         span любой сложности
//-       ul.page__banner_list
//-         li.page__banner_punkt — Кузовные работы и покраска
//-         li.page__banner_punkt — Диагностика автомобилей
//-         li.page__banner_punkt — Слесарный и агрегатный ремонт
//-         li.page__banner_punkt — Техническое обслуживание
//-         li.page__banner_punkt — Ремонт электрооборудования
//-         li.page__banner_punkt — Шиномонтаж
//-   .page__banner_panel
//-     .wrapper.page__banner_flex
//-       .page__banner_item
//-         .page__banner_item-img
//-           img(src="img/max-time.png", alt="")
//-         span Максимально 
//-           br
//-           | быстрые сроки 
//-           br
//-           | ремонта авто
//-       .page__banner_item
//-         .page__banner_item-img
//-           img(src="img/remont.png", alt="")
//-         span Ремонтируем 
//-           br
//-           | авто с 1-го 
//-           br
//-           | раза
//-       .page__banner_item
//-         .page__banner_item-img
//-           img(src="img/lowcost.png", alt="")
//-         span Цены на 
//-           br
//-           | ремонт ниже 
//-           br
//-           | дилерских
//-       .page__banner_item
//-         .page__banner_item-img
//-           img(src="img/mresult.png", alt="")
//-         span Оплата 
//-           br
//-           | только за 
//-           br
//-           | результат
//-       .page__banner_item
//-         .page__banner_item-img
//-           img(src="img/nal.png", alt="")
//-         span Наличная и 
//-           br
//-           | безналичная 
//-           br
//-           | форма оплаты

section.remont
  .wrapper.remont__wrapper
    h2.title РЕМОНТ 
      b АВТОМОБИЛЕЙ
    .title__line
      i
    .remont__text_block
      p.remont__text Автобаза правительства осуществляет ремонт и техническое обслуживание грузовых и легковых автомобилей отечественного и зарубежного производства. Мастера высокой квалифиции с большим опытом ремонта авто выполняют даже самые сложные поставленные задачи клиентом.
      p.remont__text Многолетний опыт работы, наличие собственного подвижного состава, складских и офисных комплексов, а также выверенные логистические схемы доставки позволяют нам предлагать каждому клиенту автомобильные и железнодорожные грузоперевозки недорого, но на высоком уровне.
    .remont__flex
      .remont__flex_slider
        .remont__slider
          //- .remont__slider_item
          //-   .remont__slider_img
          //-     img(src="img/slider3.jpg", alt="")
          //-   .remont__slider_text
          //-     ul.remont__slider_list
          //-       li.remont__slider_listitem Плановое ТО
          //-       li.remont__slider_listitem Экспресс-замена масла
          //-       li.remont__slider_listitem Замена топливного фильтра
          //-       li.remont__slider_listitem Замена фильтра салона
          //-       li.remont__slider_listitem Замена тормозной жидкости
          //-       li.remont__slider_listitem Замена тормозных колодок
          //-       li.remont__slider_listitem Замена масла в АКПП
          //-       li.remont__slider_listitem Замена масла в МКПП
          //- .remont__slider_item
          //-   .remont__slider_img
          //-     img(src="img/slider4.jpg", alt="")
          //-   .remont__slider_text
          //-     ul.remont__slider_list
          //-       li.remont__slider_listitem Комплексная диагностика
          //-       li.remont__slider_listitem Диагностика перед покупкой
          //-       li.remont__slider_listitem Диагностика двигателя
          //-       li.remont__slider_listitem Диагностика ходовой
          //-       li.remont__slider_listitem Диагностика КПП
          //-       li.remont__slider_listitem Диагностика сцепления
          //-       li.remont__slider_listitem Диагностика автоэлектрики
          //-       li.remont__slider_listitem Диагностика выхлопной
          //- .remont__slider_item
          //-   .remont__slider_img
          //-     img(src="img/slider5.jpg", alt="")
          //-   .remont__slider_text
          //-     ul.remont__slider_list
          //-       li.remont__slider_listitem Диагностика и ремонт ДВС
          //-       li.remont__slider_listitem Ремонт системы охлаждения
          //-       li.remont__slider_listitem Ремонт топливной системы
          //-       li.remont__slider_listitem Ремонт ходовой части
          //-       li.remont__slider_listitem Диагностика и ремонт ДВС
          //-       li.remont__slider_listitem Ремонт системы охлаждения
          //-       li.remont__slider_listitem Ремонт топливной системы
          //-       li.remont__slider_listitem Ремонт ходовой части
          //- .remont__slider_item
          //-   .remont__slider_img
          //-     img(src="img/slider1.jpg", alt="")
          //-   .remont__slider_text
          //-     ul.remont__slider_list
          //-       li.remont__slider_listitem Плановое ТО
          //-       li.remont__slider_listitem Экспресс-замена масла
          //-       li.remont__slider_listitem Замена топливного фильтра
          //-       li.remont__slider_listitem Замена фильтра салона
          //-       li.remont__slider_listitem Замена тормозной жидкости
          //-       li.remont__slider_listitem Замена тормозных колодок
          //-       li.remont__slider_listitem Замена масла в АКПП
          //-       li.remont__slider_listitem Замена масла в МКПП
          .remont__slider_item
            .remont__slider_img
              img(src="img/slider2.jpg", alt="")
            .remont__slider_text
              ul.remont__slider_list
                li.remont__slider_listitem Поиск неисправности
                li.remont__slider_listitem Ремонт проводки ДВС
                li.remont__slider_listitem Магистральная проводка
                li.remont__slider_listitem Замена ЭБУ
                li.remont__slider_listitem Замена датчиков
                li.remont__slider_listitem Ремонт генератора
                li.remont__slider_listitem Ремонт стартера
                li.remont__slider_listitem Замена светотехники

      .remont__flex_btns
        .remont__btn
          span.remont__btn_num 
            span 01
            img(src="img/sl-arrow.png", alt="")
          span.remont__btn_text Кузовные работы и покраска
        .remont__btn
          span.remont__btn_num 
            span 02
            img(src="img/sl-arrow.png", alt="")
          span.remont__btn_text Диагностика автомобиля
        .remont__btn.remont__btn--active
          span.remont__btn_num 
            span 03
            img(src="img/sl-arrow.png", alt="")
          span.remont__btn_text Слесарный агрегатный ремонт
        .remont__btn
          span.remont__btn_num 
            span 04
            img(src="img/sl-arrow.png", alt="")
          span.remont__btn_text Техническое обслуживание
        .remont__btn
          span.remont__btn_num 
            span 05
            img(src="img/sl-arrow.png", alt="")
          span.remont__btn_text Ремонт электрооборудования
    .remont__getbtn Оставить заявку

//- section.why-r
//-   h2.title ПОЧЕМУ КЛИЕНТЫ 
//-     b ВЫБИРАЮТ НАС?
//-   .title__line
//-     i
//-   span.subtitle Основные преимущества работы с нашей мастерской
//-   .why-r__flex
//-     .why-r__list
//-       .why-r__item
//-         .why-r__item_img
//-           img(src="img/li.png", alt="")
//-         .why-r__item_content
//-           span.why-r__item_title Выполняем ремонт любой сложности
//-           span.why-r__item_text Мы специализируемся на ремонте легковых автомобилей. Опыт и оборудование позволяет нам выполнять работы абсолютно любой сложности в кратчайшие сроки.
//-       .why-r__item
//-         .why-r__item_img
//-           img(src="img/li.png", alt="")
//-         .why-r__item_content
//-           span.why-r__item_title Ремонтируем с 1-го раза
//-           span.why-r__item_text Если взялись, то сделаем! Мы выполним работу на максимально высоком уровне, а Вы уедете от нас на полностью исправном автомобиле.
//-       .why-r__item
//-         .why-r__item_img
//-           img(src="img/li.png", alt="")
//-         .why-r__item_content
//-           span.why-r__item_title Минимальные сроки ремонта
//-           span.why-r__item_text Все виды работ точно нормированы. Перед ремонтом мы согласуем дату и время готовности Вашей машины и в назначенное время она будет готова!
//-     .why-r__img
//-       img(src="img/why-img.jpg", alt="")

section.get-price
  .get-price__wrapper
    h2.title.get-price__title УЗНАЙТЕ СТОИМОСТЬ 
      b РЕМОНТА ВАШЕГО АВТО
    .title__line
      i
    form.get-price__form(action="")
      .get-price__form_flex
        label.get-price__form_label
          span Как Вас зовут?
          input.get-price__form_input(type="text" placeholder="Введите имя")
        label.get-price__form_label
          span Контактный телефон*
          input.get-price__form_input(type="text" placeholder="Введите телефон" required)
        input.get-price__form_submit(type="submit" value="Получить расчет")
      span.get-price__form_text ИЛИ ПОЗВОНИТЕ НАМ: 
        a(href="tel:8 (8362) 42-28-90") 8 (8362) 42-28-90
      label.popup__form_check.get-price__form_check
        input.popup__form_checkbox(type="checkbox" checked)
        span.popup__form_check--custom
        span.popup__form_check--text Я согласен с 
          a(href="") обработкой персональных данных