section.tariffs
  .tariffs__wrapper
    h2.title ТАРИФЫ
    .title__line
      i
    .tariffs__table
      .tariffs__title
        span.tariffs__title--man
        span.tariffs__title--mark Марка ТС
        span.tariffs__title--color Цвет
        span.tariffs__title--vol Вместимость
        span.tariffs__title--min Минимальный заказ
        span.tariffs__title--price Цена по городу
        span.tariffs__title--price Цена за город
      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Toyota Land Cruiser
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Черный
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 30 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ
      
      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Toyota Camry
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Белый 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 30 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Ford Mondeo
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Черный 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 25 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Hundai Sonata  
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Белый 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 35 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Волга 
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Белый 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 10 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Volkswagen Crafter  
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Белый 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 30 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Fiat Ducato 
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Черный 
          span.tariffs__title--vol 
            span Вместимость:  
            | 20 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 30 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Газель  
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Белый 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 50 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Toyota Land Cruiser   
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Серый 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 30 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

      .tariffs__line
        span.tariffs__title--man.tariffs__line--man
        span.tariffs__title--mark 
          a(href="") Toyota Land Cruiser   
          i.tariffs__line--open
        .tariffs__line_img
          .tariffs__line_img-content
            img(src="img/vc-small.png", alt="")
            span Свободных машин: 3 шт.
        .tariffs__line_right
          span.tariffs__title--color 
            span Цвет: 
            | Черный 
          span.tariffs__title--vol 
            span Вместимость:  
            | 5 мест 
          span.tariffs__title--min 
            span Минимальный заказ: 
            | 4 часа
          span.tariffs__title--price 
            span Цена по городу: 
            | от 700 руб./час
          span.tariffs__title--price 
            span Цена за город: 
            | 30 руб./км
          a.tariffs__line_btn.js-popup--open(href="") ЗАБРОНИРОВАТЬ

    .tariffs__btext
      span.tariffs__btext_title Дополнительная информация:
      ul
        li Цены на пассажирские перевозки автобусами и микроавтобусами указаны без учета НДС.
        li Тарифы на долгосрочное обслуживание свыше 30 дней рассчитываются индивидуально.
        li Платные стоянки оплачивает клиент.
        li Стоимость заказа автомобилей на свадьбу и корпоративные мероприятия необходимо уточнять у менеджеров.
      p Стоимость может зависеть от учета индивидуальных особенностей заказа. Указанные цены являются исключительно информационными и не могут быть приняты как публичная оферта.
      
